body {
    background-color: #E0E0E0;
}

.bg-custom {
    background-color: #C3BEDA;
}

.text-dark {
    color: #4D4D4D;
}

.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #CCC;
    background-color: transparent;
}

.btn-dark {
    background-color: #000;
    border: none;
}

.dropdown-toggle {
    background-color: #C3BEDA;
    color: #000;
    border: none;
}

.dropdown-menu {
    background-color: #C3BEDA;
}

.dropdown-item {
    color: #000;
}

.dropdown-item:hover {
    background-color: #C0C0C0;
    color: #000;
}